Flows/GetCurrentSolution.json
{"id":"c84009fa-bae9-4aad-bd1c-03562114baac","brandColor":"#8C3900","connectionReferences":{"shared_commondataserviceforapps":{"connection":{"id":"/ya_sharedcommondataserviceforapps_b908e"}}},"connectorDisplayName":"制御","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"GetCurrentSolution","operationDefinition":{"type":"Scope","actions":{"Power_App_またはフローに応答する":{"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"solutionuniquename":"@{outputs('ソリューションを取得する')?['body/uniquename']}","result":"@{body('ソリューションを取得する')}","workflow":"@{string(workflow())}"},"schema":{"type":"object","properties":{"solutionuniquename":{"title":"SolutionUniqueName","x-ms-dynamically-added":true,"type":"string"},"result":{"title":"Result","x-ms-dynamically-added":true,"type":"string"},"workflow":{"title":"Workflow","x-ms-dynamically-added":true,"type":"string"}}}},"runAfter":{"ソリューションを取得する":["Succeeded"]},"description":"outputs('ソリューションを取得する')?['body/uniquename'] \nbody('ソリューションを取得する') \nstring(workflow())"},"ソリューションを取得する":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"solutions","recordId":"@first(outputs('ソリューションコンポーネントを取得する')?['body/value'])?['_solutionid_value']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"ソリューションコンポーネントを取得する":["Succeeded"]},"description":"first(outputs('ソリューションコンポーネントを取得する')?['body/value'])?['_solutionid_value']"},"ソリューションコンポーネントを取得する":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"solutioncomponents","$select":"_solutionid_value","$filter":"objectid eq '@{if(empty(coalesce(triggerBody()?['text'], '')), workflow()['tags']['xrmWorkflowId'], triggerBody()['text'])}'","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{},"description":"if(empty(coalesce(triggerBody()?['text'], '')), workflow()['tags']['xrmWorkflowId'], triggerBody()['text'])"}},"runAfter":{}}}
